<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=com.sun.jersey.archetypes"/>
        <listEntry value="archetypeArtifactId=jersey-quickstart-webapp"/>
        <listEntry value="archetypeVersion=1.19.4"/>
        <listEntry value="groupId=com.mit"/>
        <listEntry value="artifactId=storesystem"/>
        <listEntry value="version=1.0"/>
        <listEntry value="package=com.mit.storesystem"/>
        <listEntry value="outputDirectory=E:\Jersey Store System\Backend"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\LENOVO~1\AppData\Local\Temp\m2e-archetypeGenerator10614914624812252762"/>
</launchConfiguration>
